.btn {
  &--filter-open {
    display: flex;
    align-items: center;
  }

  &--form {
    display: block;
    font-weight: 500;
    color: var(--dark);
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 10px 20px;
  }


}