.catalog {
  &__container {}

  &__content {
    margin-bottom: 100px;
    display: flex;
    gap: 30px;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__preview {
    margin-bottom: 50px;
  }
}