.filter {
  @include small-tablet {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    overflow: auto;
    transform: translateX(-135%);
    transition: transform .3s ease;
    margin: 25px 0;
  }

  &--open-js {
    transform: translateX(calc(0% - var(--container-offset)));
  }

  &--burger-icon {}

  &__categories {
    background-color: var(--main-dark);
    border-radius: 8px;
    padding: 20px;
  }

  &__categories-item:not(:last-child) {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    font-weight: 500;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__open-btn {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--accent);
    border-radius: 8px;
  }

  &__open-btn-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}