.form {
  &-search {
    position: relative;
    width: 60%;

    @include tablet {
      width: 100%;
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      color: var(--light);
      background-color: var(--accent);
      border-radius: 8px;
      padding: 0 25px;
      height: 100%;
    }

    &__btn-text {
      margin-right: 8px;

      @include mobile {
        display: none;
      }
    }

    &__btn-icon {
      width: 16px;
      height: 16px;

      & use {
        fill: var(--light);
      }
    }
  }

  &-foto {
    &__top {
      margin-bottom: 15px;
    }

    &__flex-wrapp {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
    }

    &__btn-wrapp {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__btn {
      margin: 0 0 0 auto;
    }
  }

  &__container {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--main-dark);
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__label {
    font-weight: 500;
    color: var(--dark);
  }

  &__registration {
    margin-bottom: 50px;
  }

  &__btn {
    display: block;
    font-weight: 500;
    color: var(--dark);
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 10px 20px;
  }
}


.input {
  border-radius: 8px;
  color: var(--dark-grey);
  font-weight: 500;
  background-color: transparent;

  &--default {
    border: 2px solid var(--dark-grey);
    padding: 10px;

    &:focus {
      outline: none;
    }
  }

  &--search {
    width: 100%;
    border: 1px solid var(--accent);
    padding: 10px 0 10px 32px;

    &::placeholder {
      color: var(--dark-grey);
      font-weight: 500;
    }

    @include mobile {
      padding: 10px 0 10px 15px;
    }
  }

}