.header {
  background-color: var(--main-dark);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
    align-items: center;

    @include tablet {}
  }

  &__item {
    font-weight: 500;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__svg {
    padding: 10px;
    width: 42px;
    height: 42px;
  }
}