.icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;

  &--check {
    padding: 5px;

    & use {
      fill: var(--light);
    }
  }

  &--heart {

    & use {
      fill: var(--heart);
    }
  }

  &--star {
    width: 15px;
    height: 15px;

    & use {
      fill: var(--accent);
    }
  }

  &--star-stroke {
    width: 15px;
    height: 15px;

    & use {
      fill: transparent;
      stroke: var(--accent);
    }
  }

  &--menu-nav {
    width: 22px;
    height: 22px;

    & use {
      fill: var(--accent);
    }
  }

  &--add {
    width: 18px;
    height: 18px;

    & use {
      fill: var(--accent);
    }
  }

  &--trash {
    width: 18px;
    height: 18px;

    & use {
      fill: var(--accent);
    }
  }

  &--search {
    width: 16px;
    height: 16px;

    & use {
      fill: var(--light);
    }
  }

  &--geo {
    width: 20px;
    height: 20px;
  }

  &--close-nav {
    width: 15px;
    height: 15px;

    & use {
      fill: var(--accent);
    }
  }

  &--sign-in {
    width: 40px;
    height: 40px;
    padding: 5px;

    & use {
      fill: #1976D2;
    }
  }

  &--registration {
    width: 90px;
    height: 90px;

    @include small-tablet {
      width: 50px;
      height: 50px;
    }

    & use {
      fill: var(--accent);
    }
  }
}