.product {
  margin-bottom: 100px;

  &__container {}

  &__header {}

  &__header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;

    @include tablet {
      flex-direction: column-reverse;
      align-items: start;
      gap: 10px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__verification {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    color: var(--light);
    background-color: var(--accent);
    padding: 10px 22px;
    border-radius: 8px;

    @include tablet {
      margin: 0 0 0 auto;
      padding: 5px 10px 5px 15px;
    }
  }

  &__header-bottom {
    display: flex;
    margin-bottom: 10px;
  }

  &__header-bottom-desc {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__content {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "img img saler saler"
      "specific specific options options"
      "desc desc desc desc"
      "map map map map"
      "bottom bottom bottom bottom";

    @include tablet {
      grid-template-areas:
        "img img img saler"
        "specific specific options options"
        "desc desc desc desc"
        "map map map map"
        "bottom bottom bottom bottom";
      gap: 25px;
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "img img"
        "specific specific"
        "options options"
        "desc desc"
        "saler saler"
        "map map "
        "bottom bottom";
      gap: 30px;
    }
  }

  &__img {
    grid-area: img;
    height: 500px;
    background-color: var(--dark-grey);
  }

  &__info {
    grid-area: saler;
  }

  &__info-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 10px;
      margin-bottom: 25px;
    }

    @include small-tablet {
      flex-direction: row;
      align-items: center;
    }

    @include mobile {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__price-wrapp {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 36px;
    font-weight: 700;

    @include tablet {
      font-size: 28px;
    }
  }

  &__like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--dark);
    padding: 10px 15px;
  }

  &__like-content {
    font-weight: 500;
    line-height: 24px;
    color: var(--light);
    max-width: 150px;
  }

  &__specific {
    grid-area: specific;
  }

  &__options {
    grid-area: options;
  }

  &__description {
    grid-area: desc;
  }

  &__map {
    grid-area: map;
    height: 350px;
    background-color: var(--dark-grey);
  }

  &__bottom {
    grid-area: bottom;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    @include small-tablet {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include small-tablet {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }

  &__key {
    flex-shrink: 0;
    width: 175px;
    margin-right: 20px;

    @include tablet {
      width: 125px;
    }

    @include small-tablet {
      width: auto;
      margin: 0;
    }
  }

  &__value {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-grey);
  }

  &__bottom-link {
    border-radius: 8px;
    padding: 10px 20px;
  }
}

.icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;

  &--check {
    padding: 5px;
  }

  &--clock {
    margin-right: 5px;
  }

  &--eye {
    margin-right: 5px;
  }

  &--heart {
    margin-left: 15px;
  }

}