.registration {
  margin-bottom: 100px;

  &__container {}

  &__title {
    margin-bottom: 15px;
  }

  &__left {
    @include small-tablet {
      grid-row: 2;
    }

    @include mobile {
      grid-row: 1;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @include small-tablet {
      flex-direction: row;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__description {
    max-width: 350px;
    text-align: center;
  }

  &__icon {
    margin-bottom: 30px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;

    &--sign-in {
      gap: 15px;
    }
  }

}