.title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;

  &--small {
    font-size: 14px;
  }

  &--medium {
    font-size: 18px;
  }

  &--large {
    font-size: 14px;
    font-weight: 700;
  }

  &--xl {
    font-size: 36px;
    font-weight: 500;

    @include tablet {
      font-size: 28px;
    }

    @include small-tablet {
      font-size: 22px;
    }
  }

  &--light {
    color: var(--light);
  }

  &--accent {
    color: var(--accent);
  }

  &--underline {
    color: var(--dark-grey);
    text-decoration: underline;
  }

}