/* stylelint-disable */
/* stylelint-disable */
.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
.burger__icon {
  width: 36px;
  height: 28px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.burger__icon .line {
  width: 100%;
  height: 3px;
  position: relative;
  right: 0px;
  background-color: var(--accent);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.burger--active .line {
  width: 100%;
  background-color: var(--accent);
}
.burger--active .line:nth-child(1) {
  width: 100%;
  top: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger--active .line:nth-child(2) {
  width: 0;
}
.burger--active .line:nth-child(3) {
  width: 100%;
  top: -13px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .menu {
    position: fixed;
    top: 78px;
    z-index: 10;
    left: 0;
    width: 100%;
    height: calc(100vh - 78px);
    background-color: var(--main-dark);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 20px var(--container-offset);
  }
}
.menu--active {
  opacity: 1;
  visibility: visible;
}

/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

:root {
  --font-family: "CeraPro", sans-serif;
  --content-width: 1110px;
  --content-fluid-width: 1340px;
  --container-offset: 50px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light: #fff;
  --dark: #101010;
  --accent: #79B285;
  --main-dark: #F6F4F4;
  --dark-grey: #686868;
  --heart: #FF4848;
  --contrast: #4A85F6;
}
@media (max-width: 768px) {
  :root {
    --container-offset: 30px;
  }
}
@media (max-width: 576px) {
  :root {
    --container-offset: 15px;
  }
}

@font-face {
  font-family: "CeraPro";
  src: url("../fonts/../fonts/CeraProRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/../fonts/CeraProMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/../fonts/CeraProBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.link {
  display: inline-block;
}
.link--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.link--inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.link--btn {
  border-radius: 32px;
  padding: 10px 32px;
}
.link--btn-big {
  border-radius: 32px;
  padding: 18px 48px;
}
.link--dark {
  background-color: var(--dark);
  color: var(--light);
}
.link--light {
  color: var(--light);
}
.link--accent {
  background-color: var(--accent);
  color: var(--light);
}
.link--underline {
  text-decoration: underline;
}

.btn--filter-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
.title--small {
  font-size: 14px;
}
.title--medium {
  font-size: 18px;
}
.title--large {
  font-size: 14px;
  font-weight: 700;
}
.title--xl {
  font-size: 36px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .title--xl {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .title--xl {
    font-size: 22px;
  }
}
.title--light {
  color: var(--light);
}
.title--accent {
  color: var(--accent);
}
.title--underline {
  color: var(--dark-grey);
  text-decoration: underline;
}

.img {
  display: block;
}
.img--preview {
  height: 225px;
  width: 100%;
}
@media (max-width: 576px) {
  .img--preview {
    height: 125px;
  }
}
.img--preview-small {
  height: 170px;
  width: 100%;
}
@media (max-width: 1024px) {
  .img--preview-small {
    height: 215px;
  }
}
@media (max-width: 576px) {
  .img--preview-small {
    height: 125px;
  }
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
}
.price--big {
  font-size: 36px;
}

.form-search {
  position: relative;
  width: 60%;
}
@media (max-width: 1024px) {
  .form-search {
    width: 100%;
  }
}
.form-search__input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--accent);
  padding: 10px 0 10px 32px;
}
.form-search__input::-webkit-input-placeholder {
  color: var(--dark-grey);
  font-weight: 500;
}
.form-search__input::-moz-placeholder {
  color: var(--dark-grey);
  font-weight: 500;
}
.form-search__input:-ms-input-placeholder {
  color: var(--dark-grey);
  font-weight: 500;
}
.form-search__input::-ms-input-placeholder {
  color: var(--dark-grey);
  font-weight: 500;
}
.form-search__input::placeholder {
  color: var(--dark-grey);
  font-weight: 500;
}
@media (max-width: 576px) {
  .form-search__input {
    padding: 10px 0 10px 15px;
  }
}
.form-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--light);
  background-color: var(--accent);
  border-radius: 8px;
  padding: 0 25px;
  height: 100%;
}
.form-search__btn-text {
  margin-right: 8px;
}
@media (max-width: 576px) {
  .form-search__btn-text {
    display: none;
  }
}
.form-search__btn-icon {
  width: 16px;
  height: 16px;
}

.preview__list {
  display: -ms-grid;
  display: grid;
}
.preview__list--big {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 768px) {
  .preview__list--big {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.preview__list--small {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .preview__list--small {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.preview__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.preview__img-wrapp {
  margin-bottom: 20px;
}
.preview__title {
  margin-bottom: 10px;
}
.preview__price {
  margin-bottom: 10px;
}
.preview__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.preview__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--dark-grey);
}
.preview__city {
  margin-bottom: 5px;
}
.preview__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.preview__btn:hover .preview__like {
  fill: var(--heart);
}
.preview__like {
  fill: transparent;
  width: 30px;
  height: 30px;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

@media (max-width: 768px) {
  .filter {
    position: absolute;
    top: 10;
    max-height: 500px;
    width: 50%;
    overflow: auto;
    -webkit-transform: translateX(-135%);
    -ms-transform: translateX(-135%);
    transform: translateX(-135%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
.filter--open-js {
  -webkit-transform: translateX(calc(0% - var(--container-offset)));
  -ms-transform: translateX(calc(0% - var(--container-offset)));
  transform: translateX(calc(0% - var(--container-offset)));
}
.filter__categories {
  background-color: var(--main-dark);
  border-radius: 8px;
  padding: 20px;
}
.filter__categories-item:not(:last-child) {
  margin-bottom: 50px;
}
.filter__title {
  margin-bottom: 20px;
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filter__item:not(:last-child) {
  margin-bottom: 15px;
}
.filter__link {
  font-weight: 500;
}
.filter__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.filter__open-btn {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--accent);
  border-radius: 8px;
}
@media (max-width: 768px) {
  .filter__open-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.filter__open-btn-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.saler__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  color: var(--dark);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.saler__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent);
}
@media (max-width: 1024px) {
  .saler__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
.saler__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .saler__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .saler__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.saler__photo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 90px;
  margin: 0 20px 0 0;
}
.saler__img {
  display: block;
}
.saler__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.saler__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.saler__item:not(:last-child) {
  margin-bottom: 5px;
}
.saler__name {
  font-size: 14px;
  font-weight: 500;
}
.saler__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.saler__other-item {
  color: var(--accent);
  position: relative;
}
.saler__other-item:not(:last-child) {
  margin-right: 15px;
}
.saler__other-item:not(:last-child)::before {
  position: absolute;
  content: "/";
  top: 0;
  right: -12px;
  font-size: 12px;
  font-weight: 500;
}
.saler__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--light);
  font-weight: 500;
  gap: 25px;
}
@media (max-width: 1024px) {
  .saler__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
  }
}
.saler__phone {
  border-radius: 8px;
  max-width: 200px;
  background-color: var(--accent);
  padding: 10px 15px;
}
.saler__phone svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  margin: 0 0 0 30px;
}
@media (max-width: 1024px) {
  .saler__phone {
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .saler__phone svg {
    margin: 0;
  }
}
.saler__number {
  display: inline-block;
}
@media (max-width: 1024px) {
  .saler__number {
    display: none;
  }
}
@media (max-width: 768px) {
  .saler__number {
    display: block;
  }
}
.saler__mail {
  border-radius: 8px;
  max-width: 170px;
  background-color: var(--contrast);
  padding: 10px 15px;
}
.saler__mail svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  margin: 0 0 0 30px;
}
@media (max-width: 1024px) {
  .saler__mail {
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .saler__mail svg {
    margin: 0;
  }
}

.star__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.star__list {
  margin: 0 20px 0 0;
}
.star__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.star__item:not(:last-child) {
  margin-right: 5px;
}
.star__icon {
  width: 15px;
  height: 15px;
}
.star__count {
  color: var(--accent);
}

.header {
  background-color: var(--main-dark);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
.header__item {
  font-weight: 500;
}
.header__item:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 1024px) {
  .header__item:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.header__svg {
  padding: 10px;
  width: 42px;
  height: 42px;
}
.header__content-adaptive {
  display: none;
}
@media (max-width: 1024px) {
  .header__content-adaptive {
    display: inline-block;
  }
}

.search {
  padding-top: 70px;
  margin-bottom: 50px;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .search__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .search__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
.search__link {
  border-radius: 8px;
  font-weight: 500;
}
.search__link svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
@media (max-width: 576px) {
  .search__link {
    width: 100%;
    text-align: center;
  }
}
.search__city {
  font-weight: 500;
}
.search__city svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
@media (max-width: 576px) {
  .search__city {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
@media (max-width: 1024px) {
  .search__form {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.catalog-promo {
  margin-bottom: 50px;
}
.catalog-promo__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (max-width: 768px) {
  .catalog-promo__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
.catalog-promo__item {
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(146, 159, 169, 0.15);
  box-shadow: 0px 0px 20px 5px rgba(146, 159, 169, 0.15);
}
.catalog-promo__item:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.catalog-promo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
}
.catalog-promo__img-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}
@media (max-width: 576px) {
  .catalog-promo__img-wrapp {
    height: 65px;
  }
}
.catalog-promo__img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.catalog-promo__content-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
}
.catalog-promo__title {
  margin-bottom: 3px;
}
.catalog-promo__subtitle {
  font-size: 12px;
  margin: 0;
  color: rgb(153, 153, 153);
}
.catalog-promo__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
}
@media (max-width: 576px) {
  .catalog-promo__icon {
    display: none;
  }
}

.ads {
  margin-bottom: 50px;
}
.ads__top {
  background-color: var(--accent);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}
.ads__top-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ads-add {
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--accent);
}
.ads-add__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .ads-add__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
.ads-add__content {
  max-width: 600px;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .ads-add__content {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .ads-add__content {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}
.ads-add__subtitle {
  font-size: 18px;
  color: var(--light);
  margin: 15px 0 0 0;
}
.ads-add__link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.counts {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-dark);
}
.counts__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 768px) {
  .counts__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 5px;
  }
}
.counts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.counts__num {
  font-size: 48px;
  font-weight: 500;
  color: var(--accent);
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .counts__num {
    font-size: 42px;
  }
}
.counts__text {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
}

.catalog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
@media (max-width: 1024px) {
  .catalog__grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .catalog__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
.catalog__filter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
}
.catalog__products {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .catalog__products {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (max-width: 1024px) {
  .catalog__preview .preview__list--big {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.catalog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.catalog__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog__preview {
  margin-bottom: 50px;
}
.catalog__pagination {
  margin-bottom: 100px;
}

.message-avtorization {
  margin-bottom: 50px;
}
.message-avtorization__content {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: var(--dark-grey);
}
.message-avtorization__link {
  color: var(--accent);
}

.path {
  margin-bottom: 50px;
}
.path__container {
  position: relative;
  padding-bottom: 25px;
}
.path__container::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: var(--container-offset);
  width: calc(100% - var(--container-offset) * 2);
  height: 2px;
  background-color: var(--accent);
}
.path__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.path__item {
  color: var(--dark-grey);
  position: relative;
}
.path__item:not(:last-child) {
  margin-right: 20px;
  color: var(--dark);
}
.path__item:not(:last-child)::before {
  position: absolute;
  content: "/";
  top: 0;
  right: -15px;
  font-size: 14px;
  font-weight: 500;
}
.path__link {
  font-weight: 500;
}
.path__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.product {
  margin-bottom: 100px;
}
.product__header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
@media (max-width: 1024px) {
  .product__header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 10px;
  }
}
.product__title {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .product__title {
    margin-bottom: 15px;
  }
}
.product__verification {
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--light);
  background-color: var(--accent);
  padding: 10px 22px;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .product__verification {
    margin: 0 0 0 auto;
    padding: 5px 10px 5px 15px;
  }
}
.product__header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.product__header-bottom-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}
.product__content {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto 50px auto 50px auto 50px auto 50px auto;
  grid-template-areas: "img img saler saler" "specific specific options options" "desc desc desc desc" "map map map map" "bottom bottom bottom bottom";
}
@media (max-width: 1024px) {
  .product__content {
    grid-template-areas: "img img img saler" "specific specific options options" "desc desc desc desc" "map map map map" "bottom bottom bottom bottom";
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .product__content {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto;
    grid-template-areas: "img img" "specific specific" "options options" "desc desc" "saler saler" "map map " "bottom bottom";
    gap: 30px;
  }
}
.product__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  height: 500px;
  background-color: var(--dark-grey);
}
.product__info {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: saler;
}
.product__info-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .product__info-wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 10px;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .product__info-wrapp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .product__info-wrapp {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.product__price-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product__price {
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .product__price {
    font-size: 28px;
  }
}
.product__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  background-color: var(--dark);
  padding: 10px 15px;
}
.product__like-content {
  font-weight: 500;
  line-height: 24px;
  color: var(--light);
  max-width: 150px;
}
.product__specific {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: specific;
}
.product__options {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: options;
}
.product__description {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: desc;
}
.product__map {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: map;
  height: 350px;
  background-color: var(--dark-grey);
}
.product__bottom {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: bottom;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .product__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
  .product__info {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
  }
  .product__specific {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__options {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }
  .product__description {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }
  .product__map {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }
  .product__bottom {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }
}
@media (max-width: 768px) {
  .product__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__info {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__specific {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__options {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__description {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__map {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .product__bottom {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 768px) {
  .product__list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .product__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
.product__key {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 175px;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .product__key {
    width: 125px;
  }
}
@media (max-width: 768px) {
  .product__key {
    width: auto;
    margin: 0;
  }
}
.product__value {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-grey);
}
.product__bottom-link {
  border-radius: 8px;
  padding: 10px 20px;
}

.icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
}
.icon--check {
  padding: 5px;
}
.icon--clock {
  margin-right: 5px;
}
.icon--eye {
  margin-right: 5px;
}
.icon--heart {
  margin-left: 15px;
}

.footer {
  background-color: var(--dark);
  color: var(--light);
}
.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 576px) {
  .footer__content {
    gap: 40px 10px;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__title {
  margin: 0 0 30px 0;
}
.footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.footer__svg {
  width: 25px;
  height: 25px;
}
.footer__info-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 15px;
}

.copyright {
  position: relative;
}
.copyright::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-dark);
}
.copyright__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .copyright__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
}
.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .copyright__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .copyright__list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
}
.copyright__item:not(:last-child) {
  margin-right: 50px;
}
/*# sourceMappingURL=main.css.map */