<section class="callback">
  <div class="callback__container container">


    <div class="callback__grid grid grid--coll-2">
      <div class="callback__left">
        <h2 class="callback__title title title--medium">Задайте свой вопрос или напишите предложение</h2>

        <form action="" class="callback__form form">
          <ul class="list-reset form__list">
            <li class="form__item-flex">
              <div class="form__item">
                <label class="form__label">Ваше имя</label>
                <input type="text" class="input input--default">
              </div>
              <div class="form__item">
                <label class="form__label">Ваша фамилия</label>
                <input type="text" class="input input--default">
              </div>
            </li>
            <li class="form__item">
              <label class="form__label">Название компании</label>
              <input type="text" class="input input--default">
            </li>
            <li class="form__item">
              <label class="form__label">Эл. почта*</label>
              <input type="text" class="input input--default">
            </li>
            <li class="form__item">
              <label class="form__label">Ваше сообщение</label>
              <textarea class="form__textarea input input--default" placeholder="Здесь текст сообщения"></textarea>
            </li>
          </ul>

          <div class="callback__bottom">
            <a href="" class="callback__link link link--grey">
              Нажимая на кнопку, вы даете согласие на обработку<br>
              <span style="text-decoration: underline;"><b>Персональных данных</b></span>
            </a>

            <button class="form__btn btn btn--accent btn-reset">Отправить</button>
          </div>
        </form>


      </div>


      <div class="callback__right">
        <h2 class="callback__title title title--medium">Контакты</h2>
        <div class="callback__description">
          <a class="title title--xl" href="tel:88002504567">8 800 250 45 67</a>
          <p>Звонок по России бесплатный</p>
        </div>
        <div class="callback__description">
          <a class="title title--xl" href="mailto:info@barsovoz.ru">info@barsovoz.ru</a>
          <p>Техподдержка</p>
        </div>
      </div>
    </div>
  </div>
</section>