<section class="catalog">
  <div class="catalog__container container">

    <div class="catalog__content">

      <div class="catalog__left">
        <div class="menu-nav ">
          <ul class="menu-nav__categories list-reset ">
            <li class="menu-nav__categories-item">
              <h3 class="menu-nav__categories-title title title--medium title--underline">Категории</h3>
              <ul class="menu-nav__list list-reset">
                <li class="menu-nav__item">
                  <a href="#" class="menu-nav__link link link--inline-flex">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#car"></use>
                    </svg>
                    <h4 class="title title--small"> Автомобили</h4>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#" class="menu-nav__link link link--inline-flex">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#wheel"></use>
                    </svg>
                    <h4 class="title title--small"> Услуги</h4>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#" class="menu-nav__link link link--inline-flex">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#truck"></use>
                    </svg>
                    <h4 class="title title--small"> Логистика</h4>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#" class="menu-nav__link link link--inline-flex">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#doc"></use>
                    </svg>
                    <h4 class="title title--small"> Оформление</h4>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-nav__categories-item">
              <h3 class="menu-nav__categories-title title title--medium title--underline">Популярные города</h3>
              <ul class="menu-nav__list list-reset">
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Казань</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Москва</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Санкт-Петербург</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Нижний Новогород</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Екатеринбург</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Пермь</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Тюмень</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Альметьевск</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-nav__categories-item">
              <h3 class="menu-nav__categories-title title title--medium title--underline">Дата размещения</h3>
              <ul class="menu-nav__list list-reset">
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Сегодня</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Вчера</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">3 дня назад</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Неделю назад</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">Месяц назад</span>
                  </a>
                </li>
                <li class="menu-nav__item">
                  <a href="#">
                    <span class="title title--small">В течение года</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <button class="menu-nav__btn-close btn btn-reset">
            <svg class="icon icon--close-nav">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="catalog__products ">
        <button class="menu-nav__btn-open btn btn--form btn-reset">Открыть меню</button>

        <ul class="catalog__info list-reset">
          <li>
            <a href="#" class="">Все объявления <span>(162)</span></a>
          </li>
          <li>
            <a href="#" class="">От частных лиц <span>(110)</span></a>
          </li>
          <li>
            <a href="#" class="">От компаний <span>(52)</span></a>
          </li>
          <li>
            <span>Сортировка: популярное</span>
          </li>
        </ul>

        <ul class="catalog__preview list-reset grid grid--coll-3">
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car1.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car2.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car3.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car2.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car2.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car1.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car3.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car3.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car1.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
          <li class="card">
            <div class="card__img-wrapp">
              <img class="card__img img img--preview" src="img/preview/preview-car.jpg" alt="car">
            </div>
            <h4 class="card__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
              000&nbsp;км
            </h4>
            <span class="card__price price">1 672 400 ₽</span>
            <div class="card__wrapp">
              <div class="card__geo">
                <span class="card__city">Казань, Горки</span>
                <span class="card__time">21:32</span>
              </div>
              <button class="card__btn btn-reset">
                <svg class="card__like">
                  <path
                    d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                    stroke="#FF4848" stroke-width="2"></path>
                </svg>
              </button>
            </div>
          </li>
        </ul>

        <ul class="list-reset" style="display: flex; justify-content: space-between;">
          <li>Вперед</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>Назад</li>
        </ul>
      </div>
    </div>
  </div>
</section>