<section class="catalog">
  <div class="catalog__container container">
    <ul class="catalog__list list-reset">
      <li class="catalog__item">
        <a href="#" class="catalog__link link">
          <div class="catalog__img-wrapp">
            <img class="catalog__img img" src="img/catalog/car.jpg" alt="car">
          </div>
          <div class="catalog__content-wrapp">
            <div class="catalog__content-desc">
              <h4 class="catalog__title title">Автомобили</h4>
              <p class="catalog__subtitle">Найдите модель</p>
            </div>
            <svg class="catalog__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="catalog__item">
        <a href="#" class="catalog__link link">
          <div class="catalog__img-wrapp">
            <img class="catalog__img img" src="img/catalog/wheel.jpg" alt="wheel">
          </div>
          <div class="catalog__content-wrapp">
            <div class="catalog__content-desc">
              <h4 class="catalog__title title">Услуги</h4>
              <p class="catalog__subtitle">Найдите мастера</p>
            </div>
            <svg class="catalog__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="catalog__item">
        <a href="#" class="catalog__link link">
          <div class="catalog__img-wrapp">
            <img class="catalog__img img" src="img/catalog/truck.jpg" alt="truck">
          </div>
          <div class="catalog__content-wrapp">
            <div class="catalog__content-desc">
              <h4 class="catalog__title title">Логистика</h4>
              <p class="catalog__subtitle">Закажите доставку</p>
            </div>
            <svg class="catalog__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="catalog__item">
        <a href="#" class="catalog__link link">
          <div class="catalog__img-wrapp">
            <img class="catalog__img img" src="img/catalog/docs.jpg" alt="docs">
          </div>
          <div class="catalog__content-wrapp">
            <div class="catalog__content-desc">
              <h4 class="catalog__title title">Оформление</h4>
              <p class="catalog__subtitle">Помощь в оформлении документов</p>
            </div>
            <svg class="catalog__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>

</section>