<section class="catalog">
  <div class="catalog__container container">

    <div class="catalog__grid">
      <div class="catalog__filter filter">
        <ul class="list-reset filter__categories">
          <li class="filter__categories-item">
            <h3 class="filter__title title title--medium title--underline">Категории</h3>
            <ul class="filter__list list-reset">
              <li class="filter__item">
                <a href="#" class="filter__link link link--inline-flex">
                  <svg class="filter__icon">
                    <use xlink:href="img/sprite.svg#car"></use>
                  </svg>
                  <span>Автомобили</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link link--inline-flex">
                  <svg class="filter__icon">
                    <use xlink:href="img/sprite.svg#wheel"></use>
                  </svg>
                  <span>Услуги</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link link--inline-flex">
                  <svg class="filter__icon">
                    <use xlink:href="img/sprite.svg#truck"></use>
                  </svg>
                  <span>Логистика</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link link--inline-flex">
                  <svg class="filter__icon">
                    <use xlink:href="img/sprite.svg#doc"></use>
                  </svg>
                  <span>Оформление</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="filter__categories-item">
            <h3 class="filter__title title title--medium title--underline">Популярные города</h3>
            <ul class="filter__list list-reset">
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Казань</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Москва</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Санкт-Петербург</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Нижний Новогород</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Екатеринбург</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Пермь</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Тюмень</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Альметьевск</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="filter__categories-item">
            <h3 class="filter__title title title--medium title--underline">Дата размещения</h3>
            <ul class="filter__list list-reset">
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Сегодня</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Вчера</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>3 дня назад</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Неделю назад</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>Месяц назад</span>
                </a>
              </li>
              <li class="filter__item">
                <a href="#" class="filter__link link">
                  <span>В течение года</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>


      </div>
      <div class="catalog__products">
        <div class="catalog__info">
          <ul class="list-reset">
            <li>
              <a href="#" class="">Все объявления <span>(162)</span></a>
            </li>
            <li>
              <a href="#" class="">От частных лиц <span>(110)</span></a>
            </li>
            <li>
              <a href="#" class="">От компаний <span>(52)</span></a>
            </li>
          </ul>
          <span>Сортировка: популярное</span>
          <button class="btn-reset btn filter__open-btn">
            <svg class="filter__open-btn-icon">
              <use xlink:href="img/sprite.svg#filter-btn"></use>
            </svg>
            <span>Фильтр</span>
          </button>
        </div>
        <div class="catalog__preview preview">
          <ul class="list-reset preview__list preview__list--big">
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car1.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car2.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car3.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car2.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car2.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car1.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car3.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car3.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car1.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
            <li class="preview__card">
              <div class="preview__img-wrapp">
                <img class="preview__img img img--preview" src="img/preview/preview-car.jpg" alt="car">
              </div>
              <h4 class="preview__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                000&nbsp;км
              </h4>
              <span class="preview__price price">1 672 400 ₽</span>
              <div class="preview__wrapp">
                <div class="preview__geo">
                  <span class="preview__city">Казань, Горки</span>
                  <span class="preview__time">21:32</span>
                </div>
                <button class="preview__btn btn-reset">
                  <svg class="preview__like">
                    <path
                      d="M13.1961 24.5476L13.1946 24.5462C9.40345 21.1084 6.33722 18.3222 4.20709 15.7161C2.08795 13.1235 1.00003 10.8316 1.00003 8.3995C1.00003 4.42718 4.0956 1.34387 8.05566 1.34387C10.3019 1.34387 12.4743 2.39471 13.8878 4.04165L14.6466 4.9258L15.4055 4.04165C16.819 2.39471 18.9914 1.34387 21.2376 1.34387C25.1977 1.34387 28.2932 4.42718 28.2932 8.3995C28.2932 10.8316 27.2053 13.1235 25.0862 15.7161C22.956 18.3222 19.8898 21.1084 16.0986 24.5462L16.0972 24.5476L14.6466 25.8681L13.1961 24.5476Z"
                      stroke="#FF4848" stroke-width="2"></path>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="catalog__pagination">
          <ul class="list-reset" style="display: flex; justify-content: space-between;">
            <li>Вперед</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>Назад</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>