<section class="catalog-promo">
  <div class="catalog-promo__container container">
    <ul class="catalog-promo__list list-reset">
      <li class="catalog-promo__item">
        <a href="#" class="catalog-promo__link link">
          <div class="catalog-promo__img-wrapp">
            <img class="catalog-promo__img img" src="img/catalog/car.jpg" alt="car">
          </div>
          <div class="catalog-promo__content-wrapp">
            <div class="catalog-promo__content-desc">
              <h4 class="catalog-promo__title title">Автомобили</h4>
              <p class="catalog-promo__subtitle">Найдите модель</p>
            </div>
            <svg class="catalog-promo__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="catalog-promo__item">
        <a href="#" class="catalog-promo__link link">
          <div class="catalog-promo__img-wrapp">
            <img class="catalog-promo__img img" src="img/catalog/wheel.jpg" alt="wheel">
          </div>
          <div class="catalog-promo__content-wrapp">
            <div class="catalog-promo__content-desc">
              <h4 class="catalog-promo__title title">Услуги</h4>
              <p class="catalog-promo__subtitle">Найдите мастера</p>
            </div>
            <svg class="catalog-promo__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="catalog-promo__item">
        <a href="#" class="catalog-promo__link link">
          <div class="catalog-promo__img-wrapp">
            <img class="catalog-promo__img img" src="img/catalog/truck.jpg" alt="truck">
          </div>
          <div class="catalog-promo__content-wrapp">
            <div class="catalog-promo__content-desc">
              <h4 class="catalog-promo__title title">Логистика</h4>
              <p class="catalog-promo__subtitle">Закажите доставку</p>
            </div>
            <svg class="catalog-promo__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="catalog-promo__item">
        <a href="#" class="catalog-promo__link link">
          <div class="catalog-promo__img-wrapp">
            <img class="catalog-promo__img img" src="img/catalog/docs.jpg" alt="docs">
          </div>
          <div class="catalog-promo__content-wrapp">
            <div class="catalog-promo__content-desc">
              <h4 class="catalog-promo__title title">Оформление</h4>
              <p class="catalog-promo__subtitle">Помощь в оформлении документов</p>
            </div>
            <svg class="catalog-promo__icon">
              <use xlink:href="img/sprite.svg#arrow-green"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>

</section>