<section class="counts">
  <div class="counts__container container">
    <ul class="list-reset counts__list">
      <li class="counts__item">
        <span class="counts__num">12 000</span>
        <span class="counts__text">Проверенных объявлений</span>
      </li>
      <li class="counts__item">
        <span class="counts__num">237</span>
        <span class="counts__text">Локаций</span>
      </li>
      <li class="counts__item">
        <span class="counts__num">20 000</span>
        <span class="counts__text">Клиентская база</span>
      </li>
      <li class="counts__item">
        <span class="counts__num">237</span>
        <span class="counts__text">Локаций</span>
      </li>
    </ul>
  </div>
</section>