<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <div class="footer__menu">
        <h2 class="footer__title title ">
          О системе
        </h2>
        <ul class="list-reset">
          <li class="footer__item">
            <a href="#" class="">О нас</a>
          </li>
          <li class="footer__item">
            <a href="#" class="">Правила</a>
          </li>
          <li class="footer__item">
            <a href="#" class="">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu">
        <h2 class="footer__title title ">
          Информация
        </h2>
        <ul class="list-reset">
          <li class="footer__item">
            <a href="#" class="">О нас</a>
          </li>
          <li class="footer__item">
            <a href="#" class="">Правила</a>
          </li>
          <li class="footer__item">
            <a href="#" class="">FAQ</a>
          </li>
          <li class="footer__item">
            <a href="#" class="">Cookie</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu">
        <h2 class="footer__title title">
          Аккаунт
        </h2>
        <ul class="list-reset">
          <li class="footer__item">
            <a href="#" class="">Вход</a>
          </li>
          <li class="footer__item">
            <a href="#" class="">Регистрация</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu">
        <h2 class="footer__title title">
          Контакты
        </h2>
        <ul class="list-reset">
          <li class="footer__item">
            <a href="#" class="link link--flex">
              <svg class="footer__svg">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              <div class="footer__info-wrapp">
                <span class="footer__info">8 800 500-05-15 </span>
                <span class="footer__info">Бесплатно по России</span>
              </div>
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="link link--flex">
              <svg class="footer__svg">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              <div class="footer__info-wrapp">
                <span class="footer__info">info@barsovoz.ru </span>
                <span class="footer__info">Служба поддержки</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer__copyright copyright">
    <div class="copyright__container container">
      <ul class="list-reset copyright__list">
        <li class="copyright__item">
          <a href="#" class="">
            Политика конфиденциальности
          </a>
        </li>
        <li class="copyright__item">
          <a href="#" class="">
            Политика обработки данных
          </a>
        </li>
        <li class="copyright__item">
          <a href="#" class="">
            Cookie
          </a>
        </li>
      </ul>
      <ul class="list-reset copyright__list">
        <li class="copyright__item">
          <a href="#" class="">
            Разработка сайта — SOLUTION
          </a>
        </li>
        <li class="copyright__item">
          Барсовоз, 2023
        </li>
      </ul>
    </div>
  </div>
</footer>