<section class="lk">
  <div class="lk__container container">

    <div class="lk__wrapp">
      <div class="lk__left">
        <div class="menu-nav">
          <ul class="list-reset menu-nav__list">
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#burger"></use>
                </svg>
                <h4 class="title title--small ">Объявления</h4>
              </a>
              <ul class="menu-nav__sublist list-reset">
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Активные (3)</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Архив (1)</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Удаленные (2)</a></li>
              </ul>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#burger"></use>
                </svg>
                <h4 class="title title--small ">История операций</h4>
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
                <h4 class="title title--small ">Избранное</h4>
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#user"></use>
                </svg>
                <h4 class="title title--small ">Мои данные</h4>
              </a>
              <ul class="menu-nav__sublist list-reset">
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Редактировать профиль</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Выйти из аккаунта</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Удалить аккаунт</a></li>
              </ul>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <h4 class="title title--small ">Отзывы</h4>
              </a>
              <ul class="menu-nav__sublist list-reset">
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Мои отзывы</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Оставленные отзывы</a></li>
              </ul>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#chat"></use>
                </svg>
                <h4 class="title title--small ">Сообщения</h4>
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#bell"></use>
                </svg>
                <h4 class="title title--small ">Уведомления</h4>
              </a>
            </li>
          </ul>
          <button class="menu-nav__btn-close btn btn-reset">
            <svg class="icon icon--close-nav">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="lk__content">
        <button class="menu-nav__btn-open btn btn--form btn-reset">Открыть меню</button>
        <div class="lk__form">
          <h2 class="lk__title title title--medium">Фото профиля</h2>
          <div class="form form__container">
            <form action="" class="form-foto">
              <div class="form-foto__top">
                <div class="form-foto__flex-wrapp">
                  <img class="form-foto__img img img--foto-user " src="img/lk/def-foto.jpg" alt="def-foto">

                  <div class="form-foto__btn-wrapp">

                    <button class="menu-nav__link link link--flex btn-reset">
                      <svg class="icon icon--add">
                        <use xlink:href="img/sprite.svg#add"></use>
                      </svg>
                      <span>Загрузить новое фото</span>
                    </button>

                    <button class="menu-nav__link link link--flex btn-reset">
                      <svg class="icon icon--trash">
                        <use xlink:href="img/sprite.svg#trash"></use>
                      </svg>
                      <span>Удалить фото</span>
                    </button>

                  </div>
                </div>
              </div>
              <button class="form-foto__btn btn btn--form btn-reset">Сохранить</button>
            </form>
          </div>
        </div>
        <div class="lk__form">
          <h2 class="lk__title title title--medium">Персональные данные</h2>
          <div class="form form__container">
            <form action="" class="form">
              <ul class="list-reset form__list">
                <li class="form__item">
                  <label class="form__label">Имя пользователя</label>
                  <input type="text" class="input input--default">
                </li>
                <li class="form__item">
                  <label class="form__label">Имя пользователя</label>
                  <input type="text" class="input input--default">
                </li>
                <li class="form__item">
                  <label class="form__label">Имя пользователя</label>
                  <input type="text" class="input input--default">
                </li>
                <li class="form__item">
                  <label class="form__label">Имя пользователя</label>
                  <input type="text" class="input input--default">
                </li>
              </ul>
              <button class="btn btn--form btn-reset">Сохранить</button>
            </form>
          </div>
        </div>
        <div class="lk__form">
          <h2 class="lk__title title title--medium">Изменить пароль</h2>
          <div class="form form__container">
            <form action="" class="form">
              <ul class="list-reset form__list">
                <li class="form__item">
                  <label class="form__label">Старый пароль</label>
                  <input type="text" class="input input--default">
                </li>
                <li class="form__item">
                  <label class="form__label">Новый пароль</label>
                  <input type="text" class="input input--default">
                </li>
                <li class="form__item">
                  <label class="form__label">Подтвердите новый пароль</label>
                  <input type="text" class="input input--default">
                </li>
              </ul>
              <button class="btn btn--form btn-reset">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="lk">
  <div class="lk__container container">

    <div class="lk__wrapp">
      <div class="lk__left">
        <div class="menu-nav">
          <ul class="list-reset menu-nav__list">
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#burger"></use>
                </svg>
                <h4 class="title title--small ">Объявления</h4>
              </a>
              <ul class="menu-nav__sublist list-reset">
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Активные (3)</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Архив (1)</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Удаленные (2)</a></li>
              </ul>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#burger"></use>
                </svg>
                <h4 class="title title--small ">История операций</h4>
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
                <h4 class="title title--small ">Избранное</h4>
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#user"></use>
                </svg>
                <h4 class="title title--small ">Мои данные</h4>
              </a>
              <ul class="menu-nav__sublist list-reset">
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Редактировать профиль</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Выйти из аккаунта</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Удалить аккаунт</a></li>
              </ul>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <h4 class="title title--small ">Отзывы</h4>
              </a>
              <ul class="menu-nav__sublist list-reset">
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Мои отзывы</a></li>
                <li class="menu-nav__subitem"><a href="" class="link link--grey">Оставленные отзывы</a></li>
              </ul>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#chat"></use>
                </svg>
                <h4 class="title title--small ">Сообщения</h4>
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#" class="menu-nav__link link link--flex">
                <svg class="icon icon--menu-nav">
                  <use xlink:href="img/sprite.svg#bell"></use>
                </svg>
                <h4 class="title title--small ">Уведомления</h4>
              </a>
            </li>
          </ul>
          <button class="menu-nav__btn-close btn btn-reset">
            <svg class="icon icon--close-nav">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="lk__content">
        <div class="lk-product">
          <h2 class="lk__title title title--medium">Все объявления</h2>
          <p>Активные (3)
            Архив (1)
            Удаленные (2)</p>

          <ul class="list-reset lk-product__list">
            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    14 дней до окончания
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    73 просмотра
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                    9 в избранном
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Редактировать</a>
                  <a href="#" class="lk-product__link link link--accent">Поднять просмотры</a>
                  <a href="#" class="link">
                    <svg class="icon icon--trash">
                      <use xlink:href="img/sprite.svg#trash"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </li>

            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car1.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    14 дней до окончания
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    73 просмотра
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                    9 в избранном
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Редактировать</a>
                  <a href="#" class="lk-product__link link link--accent">Поднять просмотры</a>
                  <a href="#" class="link">
                    <svg class="icon icon--trash">
                      <use xlink:href="img/sprite.svg#trash"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="lk-product">
          <h2 class="lk__title title title--medium">Все объявления</h2>
          <p>Активные (3)
            Архив (1)
            Удаленные (2)</p>

          <ul class="list-reset lk-product__list">
            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car2.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">

                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    73 просмотра
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                    9 в избранном
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Редактировать</a>
                  <a href="#" class="lk-product__link link link--accent">Опубликовать снова</a>
                  <a href="#" class="link">
                    <svg class="icon icon--trash">
                      <use xlink:href="img/sprite.svg#trash"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </li>

            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car1.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">

                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    73 просмотра
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                    9 в избранном
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Редактировать</a>
                  <a href="#" class="lk-product__link link link--accent">Опубликовать снова</a>
                  <a href="#" class="link">
                    <svg class="icon icon--trash">
                      <use xlink:href="img/sprite.svg#trash"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="lk-product">
          <h2 class="lk__title title title--medium">Все объявления</h2>
          <p>Активные (3)
            Архив (1)
            Удаленные (2)</p>

          <ul class="list-reset lk-product__list">
            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car3.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    Через 2 дня удалится навсегда
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    73 просмотра
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                    9 в избранном
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Удалить навсегда</a>
                  <a href="#" class="lk-product__link link link--accent">Восстановить</a>
                </div>
              </div>
            </li>

            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car2.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    Через 2 дня удалится навсегда
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    73 просмотра
                  </li>
                  <li class="lk-product__icon">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                    9 в избранном
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Удалить навсегда</a>
                  <a href="#" class="lk-product__link link link--accent">Восстановить</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="lk-product">
          <h2 class="lk__title title title--medium">Избранное</h2>
          <p>Активные (3)
            Архив (1)
            Удаленные (2)</p>

          <ul class="list-reset lk-product__list">
            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car2.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">
                  <li class="lk-product__icon lk-product__icon--favorites">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--accent">Перейти к объявлению</a>
                </div>
              </div>
            </li>

            <li class="lk-product__item">
              <div class="lk-product__img">
                <img class="img img--lk" src="img/preview/preview-car2.jpg" alt="">
              </div>

              <div class="lk-product__content">
                <div class="lk-product__left">
                  <h2 class="lk-product__title title title--large title--accent">Автомобиль KIA RIO, 1.6 AT, 2019, 62
                    000 км</h2>
                  <span class="lk-product__price">1 672 400 ₽</span>
                  <span class="lk-product__city">Казань, Горки</span>
                  <span class="lk-product__date">16 дней назад</span>
                </div>
                <ul class="lk-product__right list-reset">
                  <li class="lk-product__icon lk-product__icon--favorites">
                    <svg class="icon icon--heart">
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </li>
                </ul>

                <div class="lk-product__bottom">
                  <a href="#" class="lk-product__link link link--dark">Объявление недоступно</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>