<section class="path">
  <div class="path__container container">
    <ul class="list-reset path__list">
      <li class="path__item">
        <a href="#" class="path__link link link--flex">
          <svg class="path__icon">
            <use xlink:href="img/sprite.svg#geo"></use>
          </svg>
          Казань</a>
      </li>
      <li class="path__item">
        <a href="#" class="path__link">Все категории</a>
      </li>
      <li class="path__item">
        <a href="#" class="path__link">Автомобили</a>
      </li>
      <li class="path__item">
        <a href="#" class="path__link">С пробегом</a>
      </li>
      <li class="path__item">
        <a href="#" class="path__link">KIA</a>
      </li>
      <li class="path__item">
        <a href="#" class="path__link">Автомобиль KIA RIO, 1.6 AT, 2019, 62 000 км</a>
      </li>
    </ul>
  </div>
</section>