<section class="product">
  <div class="product__container container">
    <div class="product__header">
      <div class="product__header-top">
        <h1 class="title title--xl">Автомобиль KIA RIO, 1.6 AT, 2019, 62 000 км</h1>
        <div class="product__verification">
          <span>Частное лицо</span>
          <svg class="icon icon--check">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
      </div>
      <div class="product__header-bottom">

        <div class="product__header-bottom-desc">
          <svg class="icon icon--clock">
            <use xlink:href="img/sprite.svg#clock"></use>
          </svg>
          <span>2 дня назад</span>
        </div>

        <div class="product__header-bottom-desc">
          <svg class="icon icon--eye">
            <use xlink:href="img/sprite.svg#eye"></use>
          </svg>
          <span>73 просмотра</span>
        </div>
      </div>
    </div>

    <div class="product__content">
      <div class="product__img">Слайдер</div>
      <div class="product__info">
        <div class="product__info-wrapp">
          <div class="product__price-wrapp">
            <span class="product__price">1 672 400 ₽</span>
            <a href="" class="link link--underline">Предложить свою цену</a>
          </div>
          <div class="product__like">
            <p class="product__like-content">Добавить объявление в избранное</p>
            <svg class="icon icon--heart">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </div>
        </div>

        <div class="product__saler saler">
          <div class="saler__top">
            <div class="saler__left">
              <div class="saler__photo">
                <img class="saler__img" src="img/salers/saler.jpg" alt="">
              </div>
              <ul class="saler__list list-reset">
                <li class="saler__item">
                  <span class="saler__desc">Объявление размещено от</span>
                </li>
                <li class="saler__item">
                  <span class="saler__name">Александр</span>
                </li>
                <li class="saler__item star">
                  <ul class="list-reset star__list">
                    <li class="star__item">
                      <svg class="star__icon">
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="star__item">
                      <svg class="star__icon">
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="star__item">
                      <svg class="star__icon">
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="star__item">
                      <svg class="star__icon">
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="star__item">
                      <svg class="star__icon">
                        <use xlink:href="img/sprite.svg#star-stroke"></use>
                      </svg>
                    </li>
                  </ul>
                  <span class="star__count">4.0</span>
                </li>
                <li class="saler__item">
                  <ul class="list-reset saler__other">
                    <li class="saler__other-item">
                      <span>2 отзыва</span>
                    </li>
                    <li class="saler__other-item">
                      <span>13 активных объявлений</span>
                    </li>
                  </ul>


                </li>
              </ul>
            </div>
            <div class="saler__right">
              <a href="" class="saler__link link link--underline">Перейти в профиль</a>
            </div>
          </div>

          <div class="saler__bottom">

            <a href="" class="saler__phone link link--flex">
              <p>Показать номер <span class="saler__number">8 937 XX XX XXX</span></p>
              <svg class="">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </a>

            <a href="" class="saler__mail link link--flex">
              <p>Отправить
                сообщение</p>
              <svg class="">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>

      <div class="product__specific">
        <h2 class="product__title title title--xl">
          Характеристики
        </h2>
        <ul class="product__list list-reset">
          <li class="product__item">
            <h3 class="product__key title">Год выпуска:</h3>
            <p class="product__value">2017</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Поколение:</h3>
            <p class="product__value">III рестайлинг (2015—2017)</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Пробег:</h3>
            <p class="product__value">66.186 км</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">История пробега:</h3>
            <p class="product__value">Проверить в Автотеке</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">ПТС:</h3>
            <p class="product__value">Оригинал</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Владельцев по ПТС:</h3>
            <p class="product__value">2</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Состояние:</h3>
            <p class="product__value">Не битый</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Модификация:</h3>
            <p class="product__value">1.4 MT (107 л.с.)</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Объём двигателя:</h3>
            <p class="product__value">1.4 л</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Тип двигателя:</h3>
            <p class="product__value">Бензин</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Коробка передач:</h3>
            <p class="product__value">Механика</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Привод:</h3>
            <p class="product__value">Передний</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Комплектация:</h3>
            <p class="product__value">Comfort Аудио</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Тип кузова:</h3>
            <p class="product__value">Хетчбек 5-дверный</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Цвет:</h3>
            <p class="product__value">Серебристый</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Руль:</h3>
            <p class="product__value">Левый</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Привод:</h3>
            <p class="product__value">Передний</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">VIN или номер кузова:</h3>
            <p class="product__value">Z94C*************</p>
          </li>
        </ul>
      </div>

      <div class="product__options">
        <h2 class="product__title title title--xl">
          Дополнительные опции
        </h2>
        <ul class="product__list list-reset">
          <li class="product__item">
            <h3 class="product__key title">Подушки безопасности:</h3>
            <p class="product__value">Фронтальные, колленные, шторки, боковые передние, боковые задние</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Усилитель руля:</h3>
            <p class="product__value">Гидравлический</p>
          </li>
          <li class="product__item">
            <h3 class="product__key title">Управление климатом:</h3>
            <p class="product__value">Кондиционер</p>
          </li>
        </ul>
      </div>

      <div class="product__description">
        <h2 class="product__title title title--xl">
          Описание
        </h2>
        <div class="title">
          <p>
            Состояние близкое к идеальному, коробка мотор ходовая в прекрасном состоянии! ГАЗА НЕТ И НИКОГДА НЕ БЫЛО!
          </p>
          <ul class="list-reset">
            <li>— Новые диски 16 радиус от полного люкса плюс новая резина.</li>
            <li>— Установлены линзованные фары как от полного люкса.</li>
            <li>— Андроид монитор.</li>
            <li>— Камера заднего вида.</li>
            <li>— Пробег родной любые проверки.</li>
            <li>— Все стекла целые( лобовое без трещин и сколов).</li>
            <li>— Кондиционер заправлен холодит как надо.</li>
            <li>— Салон свежий на твердую пятерку.</li>
            <li>— Заменена крышка багажника все остальное родное и крашенных деталей больше нет.</li>
            <li>— Цена 1.290.000.</li>
          </ul>
          <p>
            Торг разумный есть. Бартер есть на бартер цена 1.600.000.
          </p>
        </div>
      </div>

      <div class="product__map">map</div>
      <div class="product__bottom">
        <a href="#" class="product__bottom-link link link--dark">Все объявления KIA RIO</a>
        <a href="#" class="product__bottom-link link link--dark">Другие объявления пользователя</a>
      </div>
    </div>


  </div>
</section>