<section class="registration">
  <div class="registration__container container">
    <h1 class="registration__title title title--medium">Зарегистируйтесь на сайте, чтобы начать покупать и продавать
      вместе с Барсовоз</h1>

    <div class="registration__grid grid grid--coll-2">
      <div class="registration__left">
        <form action="" class="form">
          <ul class="list-reset form__list">
            <li class="form__item">
              <label class="form__label">Имя пользователя</label>
              <input type="text" class="input input--default">
            </li>
            <li class="form__item">
              <label class="form__label">Имя пользователя</label>
              <input type="text" class="input input--default">
            </li>
            <li class="form__item">
              <label class="form__label">Имя пользователя</label>
              <input type="text" class="input input--default">
            </li>
            <li class="form__item">
              <label class="form__label">Имя пользователя</label>
              <input type="text" class="input input--default">
            </li>
          </ul>
          <button class="btn btn--form btn-reset">Сохранить</button>
        </form>
      </div>
      <div class="registration__right">lorem10</div>
    </div>
  </div>
</section>