<section class="registration">
  <div class="registration__container container">
    <h1 class="registration__title title title--medium">Зарегистируйтесь на сайте, чтобы начать покупать и продавать
      вместе с Барсовоз</h1>

    <div class="registration__grid grid grid--coll-2">
      <div class="registration__left">
        <form action="#" class="registration__form form">
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Имя">
          </label>
          <button class="btn-reset form__btn">Отправить</button>
      </div>
      <div class="registration__right">lorem10</div>
    </div>
  </div>
</section>