<section class="search">
  <div class="search__container container">
    <a href="" class="search__link link link--btn link--accent">Все объявления</a>

    <form action="#" class="search__form form-search">
      <input type="text" name="Имя" class="input-reset input input--search" placeholder="Введите ваш запрос">
      <button class="btn-reset form-search__btn">
        <span class="form-search__btn-text">Поиск</span>
        <svg class="icon icon--search">
          <use xlink:href="img/sprite.svg#search-white"></use>
        </svg>
      </button>
    </form>

    <a class="search__city link link--flex" href="#browseLocations">
      <svg class="icon icon--geo">
        <use xlink:href="img/sprite.svg#geo"></use>
      </svg>
      <span>Выберите свой город</span>
    </a>
  </div>
</section>